* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.box {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

th {
  font-size: 80px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  background-color: white;
}
th:hover {
  background-color: lightblue;
}
#again {
  padding: 10px;
  cursor: pointer;
}
